RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.atlewinther\.dk [NC]
RewriteRule ^(.*)$ https://atlewinther.dk/$1 [L,R=301]
